.votebuttoncontainer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 250px;
}

.center {
  justify-content: center;
}

.loading {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}