.leaderboard {
  margin: 0 auto;
  border-collapse: separate;
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.leaderboard thead th {
  text-align: left;
  color: #969696;
  text-transform: uppercase;
}

.leaderboard thead tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 12px;
}

.leaderboard tbody tr {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 2px;
}

.first {
  background: #ffc640;
}

.first td {
  color: black;
}

.first td > p {
  color: black;
}

.first td div {
  color: black;
}

.second {
  background: #e1e1e1;
  color: black;
}

.second td {
  color: black;
}

.second td > p {
  color: black;
}

.second td div {
  color: black;
}

.third {
  background: #381e0f;
}

.leaderboard.points thead th {
  width: 110px;
}

.leaderboard.points thead th:nth-child(1) {
  width: 50px;
}

.leaderboard.points thead th:nth-child(2) {
  width: 250px;
}

.leaderboard.points td {
  width: 110px;
}

.leaderboard.points td:nth-child(1) {
  width: 50px;
}

.leaderboard.points td:nth-child(2) {
  width: 250px;
}

.leaderboard.battle thead th {
  width: 150px;
}

.leaderboard.battle thead th:nth-child(1) {
  width: 50px;
}

.leaderboard.battle thead th:nth-child(2) {
  width: 200px;
}

.leaderboard.battle td {
  width: 150px;
}

.leaderboard.battle td:nth-child(1) {
  width: 50px;
}

.leaderboard.battle td:nth-child(2) {
  width: 200px;
}
