.container {
  display: flex;
  flex-flow: column;
  gap: 28px;
}

.info {
  display: flex;
}

.info>div {
  display: flex;
  flex-flow: column;
  gap: 8px;
  width: 160px;
}

.options {
  display: flex;
  flex-flow: column;
}

.options>div:first-child {
  display: flex;
  align-items: center;
  gap: 28px;
}

.buttons {
  display: flex;
  gap: 4px;
}

.list {
  display: flex;
  flex-flow: column;
  gap: 10px;
  min-width: 900px;
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item>div {
  text-align: center;
  width: 50px;
}

.item>div:nth-child(1) {
  width: 160px;
}

.item>div:nth-child(4) {
  width: 100px;
}

.item>div:nth-child(5) {
  width: 180px;
}

.item>div:nth-child(7) {
  width: 100px;
}

.item>div:nth-child(8) {
  width: 80px;
  text-align: right;
}

.header {
  border-bottom: solid 1px var(--GREY);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.stakeitem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.stakeitem>div {
  text-align: center;
  width: 80px;
}

.stakeitem>div:nth-child(1) {
  width: 160px;
}

.stakeitem>div:nth-child(3) {
  width: 130px;
}

.stakeitem>div:nth-child(4) {
  width: 140px;
  text-align: right;
}

.stakeitem>div:nth-child(5) {
  width: 180px;
}

.tokenvalue {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.maturity {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.loadingcontainer {
  height: 31.2px;
  width: 60px;
}

.scrollablex {
  overflow-x: auto;
}

@media (max-width: 700px) {
  .options>div:first-child {
    flex-flow: column;
    align-items: flex-start;
    gap: 0;
  }

  .info {
    flex-flow: column;
  }

  .buttons {
    margin-bottom: 20px;
  }
}