.container {
  border: 1px solid var(--LIGHT-GREY);
  border-top: none;
  background: var(--DARK-BG);
  z-index: 3;
}

.container ul {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.mobile {
  position: absolute;
  left: 0;
  transition: left 0.5s ease-in-out;
}

.hidden {
  left: -205px;
}

.sidebar {
  display: flex;
  flex-flow: column;
  width: 200px;
  height: 825px;
  padding: 20px;
  font-family: IBM Plex Sans Condensed;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}

.sidebar>div:first-child {
  padding: 60px 0;
}

ul.top {
  gap: 4px;
}

.sidebar a {
  text-decoration: none;
}

.topborder {
  border-top: 1px solid var(--LIGHT-GREY);
  padding: 10px 0;
}

.sidebar ul li {
  padding: 4px;
  margin-bottom: 8px;
}

.sidebar ul li span {
  font-weight: 400;
}

.navlinktitle {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.navlinktitle>div:first-child {
  display: flex;
  gap: 10px;
  align-items: center;
}

.badge {
  background: #FAB000;
  color: black;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 3px;
}