.header {
  display: flex;
  gap: 16px;
}

.header>h1 {
  cursor: pointer;
}

.header .inactive {
  color: var(--GREY);
}



@media (max-width: 700px) {
  .header {
    flex-flow: column;
    gap: 0px;
  }

  .header>h1 {
    margin: 0;
    margin-bottom: 5px;
  }
}