.header {
  padding: 0 var(--CONTENT-PADDING);
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.navlink {
  color: white;
  margin: 1em 1.2em;
  text-decoration: none;
  font-size: 18px;
}

.active {
  color: rgba(255, 255, 255, 0.6);
}

.active div {
  color: rgba(255, 255, 255, 0.6);
}

.navlinkcontainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.logo {
  display: flex;
  margin-right: auto;
}

.rewardsheader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.badge {
  background: #FAB000;
  color: black;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 3px;
}

@media (max-width: 720px) {
  .navlink {
    margin: .5em;
  }

  .header {
    margin: 30px auto;
  }
}