.container {
  display: inline-block;
  border-radius: 100%;
  background: none;
  width: 28px;
  height: 28px;
}

.container.small {
  width: 21px;
  height: 21px;
}

.named {
  display: flex;
  align-items: center;
  gap: 4px;
}

.small .text {
  font-family: IBM Plex Sans Condensed;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  font-size: 15px;
  margin-bottom: 0;
}

.text {
  font-family: Formula Condensed;
  font-weight: 300;
  text-align: left;
  font-size: 32px;
  margin-bottom: -7px;
}

.container img {
  width: 100%;
}

.pair {
  display: inline-block;
  position: relative;
  height: 28px;
  width: 47px;
}

.pair.small {
  height: 21px;
  width: 35px;
}

.pair div:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.pair div:last-child {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}